{% set expirada=offer.dateExpirated|date('YmdHis') < 'now'|date('YmdHis') %}


<section class="descripcion">
    <h1>
        <a href="{{ path('offer', { city: offer.city.slug, slug: offer.slug }) }}">{{ offer.name }}</a>
    </h1>
    {{ offer.description|upper}}

    {% if not expirada %}
        <a class="boton" href="#">Comprar</a>
    {% endif %}
</section>

{#Si expirada és true, la class és estado expirada i passa l'else#}
<section class="estado {{ expirada ? 'expirada' }}">
    {% if not expirada %}
        <div id="tiempo">
            <h2>Temps</h2>
            <p>Falten: </p>
            {{ offer.dateExpirated|cuenta_atras }}
        </div>

        <div class="compras">
            <strong>Compras</strong>: {{ offer.sales }}
        </div>

        <div class="faltan">
            {% set faltan = offer.threshold - offer.sales %}
            {% if faltan > 0 %}
                Faltan <strong>{{ faltan }} compras</strong> <br/>
                para activar la offer
            {% else %}
                <strong>offer activada</strong> por superar las
                <strong>{{ offer.threshold }}</strong> compras necesarias
            {% endif %}
        </div>
    {% else %}
        <div class="tiempo">
            <strong>Finalizada</strong> el {{ offer.dateExpirated|date }}
        </div>
        <div class="compras">
            <strong>Compras</strong>: {{ offer.sales }}
        </div>
    {% endif %}
</section>

<section class="galeria">
    <img alt="..." src="{{ asset(offer.imageRoute, 'offers') }}">
    <p class="precio">{{ offer.price }} &euro;
        <span>{{ discount(offer.price, offer.discount)}}</span></p>
    <p><strong>Condiciones:</strong> {{ offer.conditions }}</p>
</section>

<section class="direccion">
    <h2>Disfruta de la offer en</h2>
    <p>
        <a href="#">{{ offer.shop.name }}</a>
        {{ offer.shop.adress }}
    </p>
</section>

<section class="tienda">
    <h2>Sobre la tienda</h2>
    {{ offer.shop.description }}
</section>

