{% set expirada= offer.dateExpirated|date('YmdHis') < 'now'|date('YmdHis') %}

{#Per quan  mostrem la plantilla en les compres realitzades#}
{% set comprada = comprada|default(false) %}

<section class="oferta mini">
    <div class="descripcion">
        <h2>
            <a href="{{ path('offer', { city: offer.city.slug, slug: offer.slug }) }}">
                {{ offer.name }}
            </a>
        </h2>
        {{ offer.description|mostrar_como_lista }}

        {% if not expirada and not comprada %}
            <a class="boton" href="#">Comprar</a>
        {% endif %}

    </div>
    <div class="estado {{ expirada ? 'expirada' }} {{ comprada ? 'comprada' }}">
        {% if comprada %}
            Comprada el {{ saleDate|date('d/m/Y') }}
        {% elseif not expirada %}
            <strong>Faltan</strong>: {{ offer.dateExpirated|cuenta_atras }}
        {% else %}
            Finalizada el {{ offer.dateExpirated|date('d/m/Y') }}
        {% endif %}

    </div>
    <div class="galeria">
        <img alt="Fotografía de la offer" src="{{ asset(offer.imageRoute, 'offers') }}">
        <p class="precio">{{ offer.price }} &euro; <span>{{ discount(offer.price, offer.discount) }}</span></p>
        <p>Disfruta de esta offer en <a href="#">{{ offer.shop.name }}</a></p>
    </div>
</section>