{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Detalles de {{ offer.name }}{% endblock %}

{% block id 'offer' %}

{% block article %}
    {{ include('AppBundle:offer:_complete_offer.html.twig') }}
{% endblock %}

{% block aside %}
    {{ parent() }}
    <section id="relacionadas">
        <h2>Ofertas en otras ciudades</h2>
        <ul>
            {% for offer in relacionadas %}
                <li>{{ offer.city.name }}:
                    <a href="{{ path('offer', { city: offer.city.slug, slug: offer.slug }) }}">
                        {{ offer.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}