<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Cupon</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/normalizar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/comun.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/frontend.css') }}">

    {% block stylesheets %}
    {% endblock %}
</head>
<body id="{% block id '' %}"><div id="contenedor">
    {% block body %}
    {% endblock %}
    <footer>
        {% set locale = app.request.locale %}
        {% if locale == 'en' %}
            <span>English</span>
            <a href="{{ path('homepage', { _locale: 'es' }) }}">Espanyol</a>
        {% elseif locale == 'es' %}
            <a href="{{ path('homepage', { _locale: 'en' }) }}">English</a>
            <span>Español</span>

        {% endif %}
        &copy; {{ 'now'|date('Y') }}
        <a href="{{ path('page', {namePage:'help'}) }}">Help</a>
        <a href="{{ path('page', {namePage:'about'}) }}">About</a>
        <a href="{{ path('page', {namePage:'privacity'}) }}">Privacity</a>
    </footer>
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>