{% extends 'AppBundle::base.html.twig' %}


{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
    {% set ciudadSeleccionada = app.request.attributes.get('city', city_default) %}
    <header>
        <h1><a href="{{ path('homepage', { city: ciudadSeleccionada }) }}">CUPON</a></h1>
        {#{{ dump (city_default)}}#}
        <nav>
            <ul>
                <li><a href="{{ path('homepage', {city: ciudadSeleccionada}) }}">{{ 'menu.dia'|trans }}</a></li>
                <li><a href="{{ path('city_recent', { city: ciudadSeleccionada }) }}">{{ 'menu.recientes'|trans }}</a></li>
                <li><a href="{{ path('shopping_user') }}">{{ 'menu.mias'|trans }}</a></li>
                <li>{{ render(controller('AppBundle:City:listCities', { city: ciudadSeleccionada})) }}</li>
            </ul>
        </nav>
    </header>
    <article>
        {#{{ ('hello ' ~ ciudadSeleccionada)|trans }}#}
        {% block article %}{% endblock %}
    </article>
    <aside>
        {% block aside %}
            <section id="login">
                {{ render_esi(controller('AppBundle:User:loginBox'),
                { alt: 'AppBundle:User:anonimo' }) }}
            </section>
        {% endblock %}
    </aside>
{% endblock %}