{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}
    Cupon, cada día ofertas increíbles en tu
    ciudad con descuentos de hasta el 90%
{% endblock %}

{% block id 'homepage' %}

{% block article %}
    <section class="descripcion">
        <h1><a href="#">{{ offer.name | title}}</a></h1>
        {{ offer.description|default('Este producto todavía no tiene una descripción')}}
        <a class="boton" href="#">Comprar</a>
    </section>
    <section class="galeria">
        <img alt="Fotografía de la oferta" src="{{ asset(offer.imageRoute, 'offers') }}">
        <p class="precio">{{ offer.price }}&euro;
            <span>Descuento: {{ offer.discount }}&euro;</span></p>
        <p><strong>Condiciones:</strong> {{ offer.conditions |raw}}</p>
    </section>
    <section class="estado">
        <div class="tiempo">
            <strong>Faltan</strong>: {{ offer.dateExpirated|date }}
        </div>
        <div class="compras">
            <strong>Compras</strong>: {{ offer.sales  }}
        </div>
        <div class="faltan">
            {% set faltan = offer.threshold - offer.sales %}
            {% if faltan > 0 %}
                Faltan <strong>{{ faltan }} compras</strong> <br/>
                para activar la oferta
            {% else %}
                <strong>Oferta activada</strong> por superar las
                <strong>{{ offer.threshold }}</strong> compras necesarias
            {% endif %}
        </div>
    </section>
    <section class="direccion">
        <h2>Disfruta de la oferta en</h2>
        <p>
            <a href="#">{{ offer.shop.name }}</a>
            {{ offer.shop.adress}}
        </p>
    </section>
    <section class="tienda">
        <h2>{{ "About the shop"|trans }}</h2>
        {{ offer.shop.description }}
    </section>
{% endblock %}
{% block aside %}
    <section id="login">
        {{ render(controller('AppBundle:User:loginBox')) }}
    </section>
    <section id="nosotros">
        <h2>Sobre nosotros</h2>
        <p>Lorem ipsum dolor sit amet...</p>
    </section>

{% endblock %}

