{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}shop {{ shop.name }}{% endblock %}
{% block id 'shop' %}
{% block article %}
    <section id="descripcion">
        <h1>{{ shop.name }}</h1>
        <p>{{ shop.description }}</p>
    </section>
    <section id="ultimas">
        <h2>Últimas offers publicadas</h2>
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>offer</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Compras</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.datePublicated|date }}</td>
                    <td><a href="{{ path('offer', { city: offer.city.slug, slug: offer.slug }) }}">
                            {{ offer.name }}</a>
                    </td>
                    <td>{{ offer.price }} &euro;</td>
                    <td>{{ offer.discount }} &euro;</td>
                    <td>{{ offer.sales}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Esta tienda no ha publicado ninguna oferta</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block aside %}
    {{ parent() }}
    <section id="cercanas">
        <h2>Otras shops en {{ shop.city.name }}</h2>
        <ul>
            {% for shop in nearbies %}
                <li>
                    <a href="{{ path('shop_home', { city: shop.city.slug, shop: shop.slug}) }}">{{ shop.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}