<html>
<head>
    <style>
        body { font: 13px/1.5 Arial, sans-serif; }
        ul { margin-left: .5em; padding-left: 0; }
    </style>
</head>
<body>
<table>
    <tr>
        <td><a href="{{ host ~ path('homepage') }}">CUPON</a></td>
        <td>Oferta del día en <span>{{ city.name }}</span></td>
    </tr>
    <tr>
        <td>
            <a href="{{ url('offer_detail', { slug: offer.slug }) }}">{{
                offer.name }}</a>
            {{ offer.description | mostrar_como_lista }}
        </td>
        <td>
            <img src="{{ host ~ asset(offer.imageRoute, 'offers') }}" />
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ host ~ path('offer_detail', { slug: offer.slug}) }}">Ver offer</a>
        </td>
        <td>
            {{ offer.price }} &euro; 
            <strong>{{ discount(offer.price, offer.discount) }}</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2"><strong>¡Date prisa {{ user.name }}!</strong>
            Esta offer caduca el {{ offer.dateExpirated|date }}</td>
    </tr>
    <tr>
        <td colspan="2">
            &copy; {{ 'now'|date('Y') }} - Has recibido este email porque es
            tás suscrito al servicio de envío de <em>"La offer del día"</em>. Para darte d
            e baja de este servicio, accede a <a href="{{ host ~ path('user_profile') }}">
                tu perfil</a> y desactiva la opción de envío de emails.
        </td>
    </tr>
</table>

</body>
</html>