{# el user está logueado #}
{% if is_granted('ROLE_USER') %}
    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <p class="flash-{{ tipo }}">{{ mensaje }}</p>
        {% endfor %}
    {% endfor %}

{#<p>Conectado como {{ user.name ~ ' ' ~ user.surname }}</p>#}
    {#<p>Conectado como {{ app.user }}</p>#}
    <section class="welcome">
        {% if user is defined %}
            Hola {{ user.name }}
            hoy es {{ 'today'|date('d/m/Y') }}
            <p>y vives en {{ user.city }}</p>
        {% endif %}

    </section>
<a href="{{ path('user_profile') }}">Ver mi perfil</a>
<a href="{{ path('user_logout') }}">Cerrar sesión</a>
{# el user todavía no ha hecho login #}
{% else %}
    <a class="boton" href="{{ path('user_register') }}">Regístrate</a>
<h2>Accede a tu cuenta</h2>
<form action="{{ path('user_login_check') }}" method="post">
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <label for="login_user">Email</label>
    <input id="login_user" type="text" name="_username"
           value="{{ last_username|default('') }}" />
    <br>
    <label for="login_pass">Contraseña</label>
    <input id="login_pass" type="password" name="_password" />
    <br>
    <input type="checkbox" id="no_cerrar" name="_remember_me" checked />
    <label for="no_cerrar">No cerrar sesión</label>
    <br>
    <input type="submit" value="Entrar" />
</form>
{% endif %}