{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Formulario de acceso{% endblock %}
{% block id 'user' %}

{% block article %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <form action="{{ path('user_login_check') }}" method="post">
        <label for="username">Email:</label>

        <input type="text" id="username" name="_username"
               value="{{ last_username }}" />
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
        <br>
        <input type="checkbox" id="no_cerrar" name="_remember_me" checked />
        <label for="no_cerrar">No cerrar sesión</label>
        <br>
        <input type="submit" name="login" value="Entrar" />
    </form>
{% endblock %}

{% block aside %}{% endblock %}