{% extends 'AppBundle::frontend.html.twig' %}

{% block id 'user' %}
{% block title %}Ver / Modificar mis datos{% endblock %}
{% block article %}
<h1>{{ block('title') }}</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset>
        <legend>Datos personales</legend>
        <div>
            <strong>{{ form_label(form.name) }}
            </strong>
            <div class="error">{{ form_errors(form.name) }}</div>
            <span>{{ form_widget(form.name) }}</span>
        </div>
        {{form_row(form.name)}}
        {{form_row(form.surname)}}
        {{form_row(form.dateBirth)}}
        {{form_row(form.dni)}}
        <div>
            <strong>{{form_label(form.direction, 'Your direction')}}
            </strong>
            <div class="error">{{ form_errors(form.direction) }}</div>
            <span>{{ form_widget(form.direction) }}</span>
        </div>

    </fieldset>
    <fieldset>
        <legend>Datos de acceso</legend>
        {{ form_row(form.email) }}
        {{ form_row(form.passwordClearly) }}
    </fieldset>
    <fieldset>
        <legend>Datos económicos</legend>
        {{ form_row(form.cardNumber) }}
        {{ form_row(form.city) }}
    </fieldset>

    <div>
        {{ form_errors(form.allowEmail) }}
        {{ form_widget(form.allowEmail) }}
        <span>Me gustaría recibir el boletín de ofertas de Cupon</span>
    </div>
    {#{{ form_row(form.allowEmail) }}#}

    {#{{ form_row(form._token) }}#}

    {{  form_row(form.save) }}
    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}