{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Últimas ofertas que has comprado{% endblock %}
{% block id 'shopping' %}

{% block article %}
    <h1>{{ block('title') }}</h1>

    {#En la plantilla simple_offer tenim la variable offer i ara necessitem la variable ventas,
        per aixo fem sale.offer#}
{#Per obtenir el nom del user q ha fet login#}
    My name: {{ app.user.name }}
    {% for sale in shopping %}
        {{ include('AppBundle:offer:_simple_offer.html.twig', {
            offer: sale.offer,
            comprada:true,
            saleDate: sale.dateSale

        }) }}
    {% endfor %}

{% endblock %}

{% block aside %}
    {# ... #}
{% endblock %}