<select id="ciudadseleccionada">
    {% for city in ciudades %}
        <option value="{{ city.slug }}"
                data-url="{{ url('city_change', { city: city.slug }) }}" {{ ciudadActual == city.slug ? 'selected' }}>
            {{ city.name }}
        </option>
    {% endfor %}
</select>
<script type="text/javascript">
    var lista = document.getElementById('ciudadseleccionada');
    console.log('Hola q pasa');
    lista.onchange = function() {
        var url = lista.options[lista.selectedIndex].getAttribute('data-url');
        window.location = url;
    };
</script>