{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Ofertas recientes en {{ city.name }}{% endblock %}
{% block id 'recent' %}

{% block article %}
    <h1>Ofertas recientes en <strong>{{ city.name }}</strong></h1>
    {% for offer in offers %}
        {{ include('AppBundle:offer:_simple_offer.html.twig') }}
    {% else %}
        <p>Esta ciudad todavía no ha publicado ninguna oferta</p>
    {% endfor %}
{% endblock %}

{% block aside %}
    {{ parent() }}
    <section id="cercanas">
        <h2>Ofertas en otras ciudades</h2>
        {% for city in nearbies %}
            <li><a href="{{ path('city_recent', { city: city.slug }) }}">{{ city.name }}</a></li>
        {% endfor %}
    </section>
{% endblock %}