{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/normalizar.css') }}" />
    <link href="{{ asset('css/comun.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/extranet.css') }}">
{% endblock %}
{% block body %}
    <header>
        <h1><a href="{{ path('extranet_homepage') }}">CUPON EXTRANET</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('extranet_homepage') }}">Ofertas</a></li>
                <li><a href="{{ path('extranet_profile') }}">Mis datos</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <article>
        {% block article %}

        {% endblock %}
    </article>
    <aside>
    {% block aside %}
        <a class="boton" href="{{ path('extranet_offer_new') }}">Añadir oferta</a>
        <p>Teléfono de atención al cliente <strong>902 XXX XXX</strong></p>
        <section id="faq">
            <h2>Preguntas frecuentes</h2>
            <dl>
                <dt>¿Lorem ipsum dolor sit amet?</dt>
                <dd>Consectetur adipisicing elit, sed do eiusmod tempor.</dd>
                <dt>¿Ut enim ad minim veniam?</dt>
                <dd>Quis nostrud exercitation ullamco laboris nisi.</dd>
                <dt>¿Excepteur sint occaecat cupidatat non proident?</dt>
                <dd>Sunt in culpa qui officia deserunt mollit anim laborum.</dd>
            </dl>
        </section>
    {% endblock %}
{% endblock %}