{% extends 'AppBundle:extranet:extranet.html.twig' %}
{% block id 'homepage' %}


{% block title %}Administración de {{ app.user.name }}{% endblock %}
{% block article %}
<h1>Todas tus offers {{ app.user.name }}</h1>

    <table>
        <thead>
        <tr>
            <th>Revisada</th>
            <th>Se publica</th>
            <th>Finaliza</th>
            <th>Nombre</th>
            <th>Ventas</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.revised ? '<span class="si">&#10004;</span>' : '<span class="no">&#10008;</span>' }}</td>
                {% if offer.revised %}
                    <td>{{ offer.datePublicated |localizeddate('medium', 'short')}}</td>
                    <td>{{ offer.dateExpirated |date("m/d/Y", "Europe/Paris") }}</td>
                {% else %}
                    <td colspan="2">Pendiente de revisión</td>
                {% endif %}
                <td>{{ offer.name }}</td>
                <td>{{ offer.sales }}</td>
                <td>
                    <ul>
                        {% if offer.sales > 0 %}
                            <li>
                                <a href="{{ path('extranet_offer_sales', { id: offer.id }) }}">Lista de ventas</a>
                            </li>
                        {% endif %}

                        {% if not offer.revised %}
                            <li>
                                <a href="{{ path('extranet_offer_edit', { id: offer.id }) }}">Modificar</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}