{% extends 'AppBundle:extranet:extranet.html.twig' %}

{% block id 'offer' %}
{% block title %}{{ accion == 'crear'
? 'Añadir una nueva oferta'
: 'Modificar la oferta ' ~ offer.name
}}{% endblock %}

{% block article %}
    <h1>{{ block('title') }}</h1>
    {{ form_start(formulario) }}
    <div>
        {{ form_errors(formulario) }}
        <div>
            {{ form_row(formulario.name) }}
        </div>
        <div>
            {{ form_label(formulario.description, 'Descripción') }}
            {{ form_errors(formulario.description) }}
            {{ form_widget(formulario.description) }}
            <p class="ayuda">Escribe cada característica en una línea.</p>
        </div>
        <div>
            {{ form_row(formulario.conditions) }}
        </div>
        <div>
            {{ form_label(formulario.foto, 'Fotografía') }}
            {{ form_errors(formulario.foto) }}
            {% if accion == 'editar' %}
                <img src="{{ asset(offer.imageRoute, 'offers') }}" />
                {{ form_label(formulario.foto, 'Modificar foto') }}
            {% endif %}
            {{ form_widget(formulario.foto) }}
        </div>
        <div>
            {{ form_row(formulario.price) }}
        </div>
        <div>
            {{ form_row(formulario.discount) }}
        </div>
        <div>
            {{ form_label(formulario.threshold, 'Compras necesarias') }}
            {{ form_errors(formulario.threshold) }}
            {{ form_widget(formulario.threshold) }}
        </div>
    {% if accion == 'crear' %}
        <div>
            {{ form_errors(formulario.acepto) }}
            {{ form_widget(formulario.acepto) }} <span>Declaro que toda la información de esta oferta es correcta, que me
                comprometo a cumplir las condiciones prometidas y que dispongo de los medios necesarios para hacerlo.</span>
        </div>
    {% endif %}
    </div>
    {{ form_end(formulario) }}
{% endblock %}