{% extends 'AppBundle:extranet:extranet.html.twig' %}

{% block id 'shop' %}
{% block title %}Ver / Modificar mis datos{% endblock %}
{% block article %}
    <h1>{{ block('title') }}</h1>
    {{ form_start(formulario) }}
    <div>
    {{ form_errors(formulario) }}
    <div>
        {{ form_row(formulario.name) }}
    </div>
    <div>
    {{ form_label(formulario.login, 'Nombre del login') }}
    {{ form_errors(formulario.login) }}
    {{ form_widget(formulario.login) }}

    </div>
        <div>
            {{ form_widget(formulario.password) }}
            <p class="ayuda">Si quieres cambiar la contraseña, escríbela dos
                veces. Si no quieres cambiarla, deja su valor vacío.</p>
        </div>
        <div>
            {{ form_label(formulario.description, 'Descripción') }}
            {{ form_errors(formulario.description) }}
            {{ form_widget(formulario.description) }}
        </div>
        {#<div>
            {{ form_row(formulario.city) }}
        </div>#}
        <div>
            {{ form_label(formulario.city) }}
            {{ form_errors(formulario.city) }}
            {{ form_widget(formulario.city) }}
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}