{% extends 'AppBundle:extranet:extranet.html.twig' %}

{% block id 'offer' %}
{% block title %}Ventas de la oferta {{ offer.name }}{% endblock %}
{% block article %}
<h1>{{ block('title') }}</h1>
<table>
    <thead>
    <tr>
        <th>DNI</th>
        <th>Nombre y apellidos</th>
        <th>Fecha sale</th>
    </tr>
    </thead>
    <tbody>
    {% for sale in sales %}
        <tr>
            <td>{{ sale.user.dni }}</td>
            <td>{{ sale.user.name ~ ' ' ~ sale.user.surname }}</td>
            <td>{{ sale.dateSale | localizeddate('long', 'medium') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <th>TOTAL</th>
        <td>{{ sales|length * offer.price }} &euro;</td>
        <td>{{ sales|length }} sales</td>
    </tr>
    </tbody>
</table>
{% endblock %}